@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.btn-style-three:hover,
.main-header .info-box .icon-box,
.list-style-one li .icon,
.sec-title .title,
.btn-style-six:hover,
.service-block .inner-box .icon,
.fact-counter .column .inner .icon,
.main-slider .play-box .play-button span,
.main-menu .navigation > li > ul > li:hover > a,
.project-section .filters .filter.active,
.project-section .filters .filter:hover,
.team-block .inner-box h4 a:hover,
.news-block .inner-box h4 a:hover,
.list-style-two li .icon,
.list-link li a:hover,
.main-slider-two h1 span,
.process-block .inner-box .icon,
.accordion-box .block .icon,
.price-block .inner-box .price,
.price-block .inner-box .price-list li:before,
.main-footer .request-widget .phone:hover,
.main-footer .footer-bottom .social-box li a:hover,
.main-footer .news-widget .post h6 a:hover,
.testimonial-block-two .inner-box .designation,
.gallery-block .inner-box .lower-content h5 a:hover,
.header-top .top-right .social-box li a:hover,
.service-block-two .inner-box .lower-box h6 a:hover,
.news-block-two .inner-box .content .post-info li,
.news-block-two .inner-box h4 a:hover,
.list-style-three li:before,
.main-footer .lower-form-box .title-column .icon,
.header-style-three .search-box .form-group button,
.main-slider-three .play-box .play-button span,
.about-section-two .content-column .bold-text,
.about-section-two .images-column .text,
.service-block-three .inner-box .icon,
.service-block-three .inner-box:hover h5 a,
.choose-block .inner-box .icon,
.banner-widget .title,
.blog-cat li a:hover,
.page-breadcrumb li a,
.social-icon-one li a,
.privacy-section .date,
.service-list li .icon,
.service-list li a:hover,
.sidebar .popular-posts .post a:hover,
.testimonial-section-two .lower-text a,
.team-block-two .inner-box h5 a:hover,
.news-block-three .inner-box h4 a:hover,
.footer-style-two .news-widget .post h6 a:hover,
.footer-style-two .info-column .icon,
.sidebar .search-box .form-group button,
.news-block-four .inner-box h3 a:hover,
.blog-detail .inner-box blockquote .quote-author,
.blog-detail .post-share-options .tags a:hover,
.blog-detail .post-share-options .tags span,
.blog-detail .post-share-options .social-box li a:hover,
.blog-detail .more-posts .prev a:hover,
.blog-detail .more-posts .next a:hover,
.styled-form .form-group .check-box .terms,
.contact-info-section .info-column .icon,
.sidebar-page-container .comments-area .comment-info .comment-time:before,
.sidebar-page-container .comments-area .comment-box .theme-btn,
.news-block-four .inner-box .lower-content .post-info li,
.team-single-section .content-column .post-meta li .icon,
.news-block-three .inner-box .lower-content .post-info li .icon,
.gallery-block .inner-box .image-box .overlay-box .icon:hover,
.testimonial-block .inner-box .author-image-outer .designation,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.project-section-two .tab-btns-box .p-tab-btn:hover,
.service-detail .feature-column .inner-column .icon,
.project-section-two .tab-btns-box .p-tab-btn.active-btn,
.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button,
.checkout-page .payment-options li .what-paypall,
.shop-page .prod-tabs .reviews-container .rev-header .rating,
.shop-single-section .info-column .details-header .rating span,
.shop-single-section .info-column .details-header .item-price,
.shop-page .prod-tabs .add-review .rating .rate-box:hover,
.shop-page .prod-tabs .add-review .rating .rate-box:focus,
.shop-page .prod-tabs .add-review .rating .rate-box:active,
.cart-table tbody tr .remove-btn,
.checkout-page .default-links li a,.video-section .title,
.sec-title-two .title,
.social-icon-two li a:hover,
.news-widget .more-news:hover,
.video-section .play-icon,
.portfolio-block .overlay-box .cat,
.main-menu .navigation > li > a:hover,
.main-menu .navigation > li.current > a,
.service-block-four .inner-box .icon-box,
.portfolio-block .overlay-box h6 a:hover,
.call-to-action .btn-column .message-box,
.contact-info-box .box-inner .icon,
.team-block-four .lower-content h5 a:hover,
.team-block-four .lower-content .designation,
.footer-style-four .list-link li a:hover,
.testimonial-block-three .inner-box .quote-icon,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.news-blog .inner-box .lower-content h5 a:hover,
.news-widget-block .widget-inner .post-date,
.news-widget-block .widget-inner h5 a:hover,
.footer-style-three .logo-widget .branch:hover,
.news-widget-block .widget-inner .post-date:before,
.fact-counter-three .column .counter-title,
.header-style-four .info-box .icon-box,
.featured-block-two .inner-block .icon,
.service-block-six .inner-box .icon-box,
.service-block-six .inner-box h4 a:hover,
.choose-block-three .inner-box .icon-box,
.news-blog-two .inner-box .lower-content h4 a:hover,
.transport-featured-block .inner-box .icon-box,
.default-form .form-group.time-group .icon,
.default-form .phone .icon,
.project-block-three .inner-box .image .overlay-box h5 a:hover,
.project-block-three .inner-box .image .overlay-box .title,
.featured-block-three .inner-box .icon-box .inner-icon-box,
.team-block-three .inner-box:hover .lower-content h5 a,
.news-blog-two .inner-box .lower-content .post-meta li .fa,
.testimonial-block-four .inner-box .author-info .designation,
.service-block-four .inner-box .image-box .overlay-box .read-more,
.service-block-four .inner-box .image-box .overlay-box h5 a:hover,
.news-blog .inner-box .lower-content .comment-box .comment a:hover,
.news-blog .inner-box .lower-content .comment-box .read-more:hover,
.news-blog .inner-box .lower-content .author-info .designation,
.service-block-four-four .inner-box .lower-content .upper-box .icon,
.service-block-four-four .inner-box .lower-content .upper-box h5 a:hover,
.testimonial-section-three .client-thumb-outer .author-info .author-name,
.testimonial-block-six .inner-box .author-info .info-inner .designation,
.news-blog-four .inner-box .lower-content .outer-link h5 a:hover,
.transport-block .inner-box .lower-content h4 a:hover,
.team-block-six .inner-box .lower-box h4 a:hover,
.testimonial-block-seven .inner-box .lower-content h4,
.testimonial-block-seven .inner-box .upper-content .rating .fa,
.service-block-six .inner-box .read-more:hover,
.portfolio-section-three .filter-tabs li.active, .portfolio-section-three .filter-tabs li:hover,
.portfolio-section-two .filter-tabs li.active, .portfolio-section-two .filter-tabs li:hover,
.news-blog-three .inner-box .lower-content h4 a:hover,
.footer-style-three .footer-widget .info-list li .icon,
.news-blog-three .inner-box .lower-content .comments:hover{
	color:#f05523;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a::before,
.main-menu .navigation > li > ul > li:hover > a::before{
	text-shadow:8px 0 #f05523, -8px 0 #f05523;
}

/*Background Color*/

.clock-hour,
.clock-minute,
.btn-style-one,
.btn-style-three,
.btn-style-four,
.btn-style-six,
.btn-style-two:before,
.btn-style-five:before,
.click-indicator div:nth-child(3),
.click-indicator div:nth-child(6),
.click-indicator div:nth-child(9),
.click-indicator div:nth-child(12),
.click-indicator div:nth-child(15),
.services-section .owl-dots .owl-dot:hover,
.services-section .owl-dots .owl-dot.active,
.service-block .inner-box:hover .read-more,
.skill-section .image-column .image .text,
.main-header .main-menu .navigation > li:before,
.header-style-one:before,
.newsletter-section,
.team-block .inner-box .image,
.news-block .inner-box .image,
.news-block .inner-box h4:before,
.news-block .inner-box .image .post-date,
.news-block .inner-box:hover .read-more,
.team-block .inner-box .social-box li a:hover,
.testimonial-block .inner-box:hover::before,
.testimonial-section .owl-nav .owl-prev:hover,
.testimonial-section .owl-nav .owl-next:hover,
.header-top .inner-container:before,
.accordion-box .block .acc-btn.active,
.main-slider-two .owl-nav .owl-prev:hover,
.main-slider-two .owl-nav .owl-next:hover,
.service-block-two .inner-box .lower-box .icon,
.services-section-two .owl-dots .owl-dot:hover,
.services-section-two .owl-dots .owl-dot.active,
.process-block .inner-box:hover .process-number,
.process-block .inner-box:hover .color-layer-two,
.goal-section .image-column .image .icon-button span,
.request-quote-section .content-box .play-box .play-btn,
.service-block-two .inner-box .overlay-box .read-more:hover,
.news-block-two .inner-box:hover .read-more,
.pricing-tabs .tab-buttons .tab-btn:hover,
.news-block-two .inner-box h4:before,
.pricing-tabs .tab-buttons .tab-btn.active-btn,
.news-block-two .inner-box .image .post-date,
.news-block-two .inner-box .image,
.newsletter-form-two .form-group .submit-btn,
.fact-counter-two .column .inner .icon,
.choose-section .image-column .award-box,
.team-block-two .inner-box .image,
.team-block-two .inner-box .social-box,
.team-block-two .inner-box .lower-content:before,
.newsletter-form.style-two .form-group .submit-btn,
.news-block-three .inner-box .image,
.news-block-three .inner-box h4:before,
.footer-style-two .footer-bottom,
.privacy-section .privacy-list li:before,
.sidebar .sidebar-title h4:before,
.news-block-three .inner-box .image .post-date,
.team-single-section .content-column h2 span,
.project-detail-section .social-box .social-list li a:hover,
.social-widget .social-box li a:hover,
.sidebar .popular-tags a:hover,
.news-block-four .inner-box h3:before,
.news-block-four .inner-box .image .post-date,
.news-block-four .inner-box .image,
.blog-detail .inner-box .image,
.blog-detail .inner-box .image .post-date,
.blog-detail .inner-box h3:before,
.single-product-item .title-holder:before,
.styled-form .account-btn:hover,
.styled-form .form-group .radio-box label:before,
.styled-form .form-group .check-box input[type="checkbox"]:checked + label:before,
.about-section-two .images-column .image-two .play-box .play-button,
.main-header.header-style-three .header-lower .inner-container,
.service-detail .service-tabs .tab-btns .tab-btn:hover,
.service-detail .service-tabs .tab-btns .tab-btn.active-btn,
.project-detail-section .carousel-column .owl-nav .owl-prev:hover,
.project-detail-section .carousel-column .owl-nav .owl-next:hover,
.project-challenge-section .inner-container:before,
.news-block-four .inner-box:hover .read-more,
.project-mission-section .new-posts a:hover,

.updated-header-top,
.call-to-action-three,
.updated-btn-style-two,
.search-popup .close-search,
.news-widget-block:before,
.call-to-action-two .scroll-down,
.sec-title-two .title-inner:before,
.main-slider-four .content .icon-box,
.main-slider-four .swiper-button-next:hover,
.main-slider-four .swiper-button-prev:hover,
.portfolio-section .owl-dots .owl-dot:hover,
.portfolio-section .owl-dots .owl-dot.active,
.team-section-three .owl-dots .owl-dot:hover,
.team-section-three .owl-dots .owl-dot.active,
.circular-menu.active .floating-btn,
.circular-menu .menu-item:hover span,
.service-block-five .inner-box h4:after,
.circular-menu-two.active .floating-btn,
.circular-menu-two .menu-item:hover span,
.circular-menu-three.active .floating-btn,
.circular-menu-three .menu-item:hover span,
.about-section-four .image-column:before,
.testimonial-section-four .owl-prev, 
.testimonial-section-four .owl-next,
.portfolio-block .overlay-box .inner .icon:hover,
.team-block-three .image-box .overlay-box .lower-content,
.project-tab .product-tab-btns .p-tab-btn .left-border:before,
.project-tab .product-tab-btns .p-tab-btn .left-border:after,
.project-tab .product-tab-btns .p-tab-btn .right-border:before,
.project-tab .product-tab-btns .p-tab-btn .right-border:after,
.portfolio-masonry-section .filter-tabs li:before,
.portfolio-masonry-section .filter-tabs li:after,
.team-block-three .inner-box .image .overlay-box:before,
.testimonial-section-four .owl-dots .owl-dot:hover,
.testimonial-section-four .owl-dots .owl-dot.active,
.news-blog-two .inner-box .overlay-box span,
.footer-style-four .list-link li a:after,
.footer-style-four .footer-bottom,
.header-style-four .header-lower,
.social-icon-three li a:hover,
.portfolio-section-two .filter-tabs li:before,
.portfolio-section-two .filter-tabs li:after,
.project-block-two .inner-box .image .overlay-box:before,
.featured-block-three .inner-box:hover .icon-box .inner-icon-box,
.skills-two .skill-item .skill-bar .bar-inner .bar:before,
.news-blog-two .inner-box .lower-content .post-meta:before,
.team-section-four .owl-prev, .team-section-four .owl-next,
.header-style-four .updated-header-top .language .dropdown-menu > li > a:hover,
.testimonial-block-five .inner-box .upper-box .quote-icon,
.news-blog-three .inner-box .image a:before,
.sec-title-three h2:before,
.updated-btn-style-three,
.transport-block .inner-box .image,
.project-block-four .overlay-box:before,
.transport-block .inner-box .lower-content .read-more,
.news-blog-four .inner-box .image-box .overlay-box a:hover,
.news-blog-four .inner-box .lower-content .outer-link .date,
.service-block-six .inner-box .read-more:after,
.fluid-section-two .content-column .blocks-outer .year-block .block-inner .year,
.traveler-team-section .owl-dots .owl-dot:hover, .traveler-team-section .owl-dots .owl-dot.active,
.testimonial-section-five .owl-prev, .testimonial-section-five .owl-next,
.testimonial-section-five .owl-dots .owl-dot:hover, .testimonial-section-five .owl-dots .owl-dot.active,
.traveler-team-section .owl-prev, .traveler-team-section .owl-next,
.newsletter-widget .form-group input[type="submit"], .newsletter-widget .form-group .subscribe-btn,
.testimonial-section-six .owl-nav .owl-prev:hover, .testimonial-section-six .owl-nav .owl-next:hover,
.team-section-four .owl-dots .owl-dot:hover, .team-section-four .owl-dots .owl-dot.active,
.main-slider-five .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.main-slider-five .swiper-button-next:hover, .main-slider-five .swiper-button-prev:hover,
.main-slider-six .swiper-button-next:hover, .main-slider-six .swiper-button-prev:hover{
	background-color:#f05523;
}


.team-block-five .inner-box .image-box .overlay-box .inner,
.gallery-block .inner-box .image-box .overlay-box,
.about-section .image-column .experiance-box .box-inner{
	background-color:rgba(240,85,35,0.90);
}

.price-block .inner-box:before{
	background: -webkit-linear-gradient(to top, #060504 0%, #f05523 100%);
	background: -moz-linear-gradient(to top, #060504 0%, #f05523 100%);
	background: linear-gradient(to top, #060504 0%, #f05523 100%);
}

.cta-section-three .inner-container{
	background: #f05523;
	background: -webkit-linear-gradient(to top, #f05523 0%, #232222 100%);
	background: -moz-linear-gradient(to top, #f05523 0%, #232222 100%);
	background: linear-gradient(to top, #f05523 0%, #232222 100%);
}

.request-quote-section .content-box .play-box .ripple,
.request-quote-section .content-box .play-box .ripple:before,
.request-quote-section .content-box .play-box .ripple:after,
.goal-section .image-column .image .icon-button .ripple,
.goal-section .image-column .image .icon-button .ripple:before,
.goal-section .image-column .image .icon-button .ripple:after{
	-webkit-box-shadow: 0 0 0 0 rgba(240,85,35,0.90);
    -moz-box-shadow: 0 0 0 0 rgba(240,85,35,0.90);
    -ms-box-shadow: 0 0 0 0 rgba(240,85,35,0.90);
    -o-box-shadow: 0 0 0 0 rgba(240,85,35,0.90);
    box-shadow: 0 0 0 0 rgba(240,85,35,0.90);
}

.skills .skill-item .skill-bar .bar-inner .bar,
.back-to-top::after{
	border-bottom-color:#f05523;
}

.service-detail .service-tabs .tab-btns .tab-btn:before{
	border-top-color:#f05523;
}

/*Border Color*/

.social-icon-one li a,
.btn-style-five:hover,
.fact-counter .column .inner,
.sidebar .popular-tags a:hover,
.services-section .owl-dots .owl-dot:hover,
.services-section .owl-dots .owl-dot.active,
.gallery-block .inner-box .lower-content,
.cta-section .cta-list li:before,
.service-block .inner-box .read-more,
.service-block .inner-box,
.main-slider .title:before,
.news-block .inner-box .read-more,
.styled-form .account-btn:hover,
.service-block-three .inner-box:hover,
.news-block-two .inner-box .content .post-info li,
.testimonial-section .owl-nav .owl-prev:hover,
.testimonial-section .owl-nav .owl-next:hover,
.main-slider-two .owl-nav .owl-prev:hover,
.main-slider-two .owl-nav .owl-next:hover,
.services-section-two .owl-dots .owl-dot:hover,
.services-section-two .owl-dots .owl-dot.active,
.news-block-two .inner-box .read-more,
.main-slider-three .title:before,
.social-widget .social-box li a:hover,
.news-block-four .inner-box .read-more,
.testimonial-block-two .inner-box .author-box,
.project-detail-section .social-box .social-list li a:hover,
.service-block-two .inner-box .overlay-box .read-more:hover,
.default-form input[type="text"]:focus,
.default-form input[type="email"]:focus,
.default-form input[type="password"]:focus,
.default-form select:focus,
.default-form textarea:focus,
.blog-detail .inner-box blockquote,
.shop-form input:focus,
.shop-form select:focus,
.shop-form textarea:focus,
.news-block-four .inner-box .lower-content .post-info li,
.project-detail-section .carousel-column .owl-nav .owl-prev:hover,
.project-detail-section .carousel-column .owl-nav .owl-next:hover,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.video-section .play-icon,
.contact-info-box .box-inner,
.main-slider-four .content:before,
.default-form .phone .icon,
.main-slider-four .swiper-slide .content:after,
.main-slider-four .swiper-button-next:hover,
.main-slider-four .swiper-button-prev:hover,
.subscribe-form .form-group input:focus,
.subscribe-form .form-group textarea:focus,
.subscribe-form .form-group select:focus,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group textarea:focus,
.contact-form-two .form-group select:focus,
.featured-block-three .inner-box .icon-box,
.featured-block-two .inner-block,
.portfolio-section-three .filter-tabs li:before,
.header-style-four .updated-header-top .language .dropdown-menu,
.skills-two .skill-item .skill-bar .bar-inner .bar:before,
.news-blog-four .inner-box .lower-content,
.team-block-six .inner-box:hover .image,
.testimonial-block-seven .inner-box .upper-content,
.fluid-section-two .content-column .blocks-outer .year-block .block-inner .year:before,
.main-slider-six .swiper-button-next:hover, .main-slider-six .swiper-button-prev:hover,
.testimonial-section-six .owl-nav .owl-prev:hover, .testimonial-section-six .owl-nav .owl-next:hover,
.portfolio-section-two .filter-tabs li.active, .portfolio-section-two .filter-tabs li:hover,
.main-slider-five .swiper-button-next:hover, .main-slider-five .swiper-button-prev:hover{
	border-color:#f05523;
}

.header-top,
.search-popup .close-search,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce #review_form #respond .form-submit input,
.woocommerce a.button,
.woocommerce a.button:hover,
.woocommerce button.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-billing-fields h3:after,
.woocommerce-shipping-fields h3:after,
.woocommerce-additional-fields h3:after,
#order_review_heading:after,
.woocommerce #place_order,
.woocommerce .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce .woocommerce-MyAccount-content button.button,
.woocommerce > h2:after,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .woocommerce-MyAccount-content h3:after,
.woocommerce-EditAccountForm.edit-account legend:after,
.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit[disabled]:disabled:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button[disabled]:disabled:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button[disabled]:disabled:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button[disabled]:disabled:hover {
	background-color:#f05523;
}

.woocommerce .our-shop .star-rating span,
.woocommerce .product_list_widget li .star-rating,
.woocommerce .product-details div.product .price ins span,
.woocommerce .shop-single .star-rating:before,
.woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating,
.woocommerce .related-projects .star-rating:before,
.woocommerce .shop-single .star-rating span,
.woocommerce #review_form #respond form p.stars a:hover,
.woocommerce .related-projects .star-rating span,
.main-footer ul.menu li a:hover,
.footer-style-two ul.menu li a:hover,
.woocommerce .woocommerce-message:before,
.woocommerce .shop_table tbody tr a.remove:hover,
.woocommerce .woocommerce-info:before,
.woocommerce .our-shop .star-rating:before,
.woocommerce .our-shop div.product .price,
.woocommerce .product-details div.product .price {
	color:#f05523;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce .shop_table tbody tr a.remove:hover,
.woocommerce .woocommerce-MyAccount-navigation ul li a:hover {
	border-color: #f05523;
}

.woocommerce .woocommerce-message {
	border-top-color: #f05523;
}
